<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ApplicationURL" value="http://localhost:5000"/>
    <add key="PathBackup" value="D:\Instalacion_SQLite\Data\Backups"/>
  </appSettings>
</configuration>
